*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
}

html {
  font-size: 16px;
}

@font-face {
  font-family: "young-serif";
  src: url(assets/fonts/young-serif/YoungSerif-Regular.ttf);
}
@font-face {
  font-family: "outfit-semibold";
  src: url(assets/fonts/outfit/static/Outfit-SemiBold.ttf);
}
@font-face {
  font-family: "outfit-regular";
  src: url(assets/fonts/outfit/static/Outfit-Regular.ttf);
}
@font-face {
  font-family: "outfit-bold";
  src: url(assets/fonts/outfit/static/Outfit-Bold.ttf);
}
html {
  background-color: hsl(30, 54%, 90%);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

.card {
  display: grid;
  row-gap: 2.5rem;
  max-width: 736px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
  padding: 2.5rem;
  margin: 8rem 0 8rem 0;
}
.card__recipe {
  display: grid;
  row-gap: 2rem;
}
.card__img {
  width: 100%;
  border-radius: 12px;
}
.card__header {
  display: grid;
  row-gap: 1.5rem;
}
.card__title {
  font-family: "young-serif";
  line-height: 100%;
  letter-spacing: 0px;
  color: hsl(24, 5%, 18%);
  font-weight: normal;
  font-size: 40px;
}
.card__desc {
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
}
.card hr {
  border: 1px solid hsl(30, 18%, 87%);
}
.card__prep-time {
  display: grid;
  row-gap: 1rem;
  background-color: hsl(330, 100%, 98%);
  padding: 1.5rem;
  border-radius: 12px;
  letter-spacing: 0px;
}
.card__prep-time-title {
  font-family: "outfit-semibold";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0;
  color: hsl(332, 51%, 32%);
}
.card__prep-time-list {
  display: grid;
  row-gap: 0.5rem;
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
  list-style-position: inside;
  font-size: 16px;
}
.card__prep-time strong {
  padding-left: 1rem;
}
.card__prep-time li {
  padding-left: 0.5rem;
}
.card__prep-time li::marker {
  color: hsl(332, 51%, 32%);
}
.card__ingredients {
  display: grid;
  row-gap: 1.5rem;
  list-style-position: inside;
}
.card__ingredients-title {
  font-family: "young-serif";
  line-height: 100%;
  letter-spacing: 0;
  color: hsl(14, 45%, 36%);
  font-weight: normal;
  font-size: 28px;
}
.card__ingredients-list {
  display: grid;
  row-gap: 0.5rem;
  padding-left: 0.5rem;
}
.card__ingredients-item {
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
}
.card__ingredients-item::marker {
  color: hsl(14, 45%, 36%);
}
.card__ingredients-text {
  padding-left: 1rem;
}
.card__instructions {
  display: grid;
  row-gap: 1.5rem;
}
.card__instructions-title {
  font-family: "young-serif";
  line-height: 100%;
  letter-spacing: 0;
  color: hsl(14, 45%, 36%);
  font-weight: normal;
  font-size: 28px;
}
.card__instructions-list {
  display: grid;
  row-gap: 0.5rem;
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
  font-size: 16px;
  padding-left: 1.5rem;
  padding-right: 10px;
}
.card__instructions li {
  padding-left: 1rem;
}
.card__instructions-item::marker {
  font-family: "outfit-bold";
  color: hsl(14, 45%, 36%);
}
.card__nutrition {
  display: grid;
  row-gap: 1.5rem;
}
.card__nutrition-title {
  font-size: 28px;
  text-align: left;
  font-family: "young-serif";
  line-height: 100%;
  letter-spacing: 0;
  color: hsl(14, 45%, 36%);
  font-weight: normal;
}
.card__nutrition-sub th {
  font-size: 16px;
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
  font-weight: normal;
}
.card__nutrition-item {
  font-family: "outfit-regular";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(30, 10%, 34%);
  font-weight: normal;
  font-size: 16px;
  display: flex;
  justify-content: space-around;
  text-align: left;
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding: 0 2rem 0 2rem;
}
.card__nutrition-item th {
  font-weight: normal;
  width: 100%;
}
.card__nutrition-item td {
  font-family: "outfit-bold";
  line-height: 150%;
  letter-spacing: 0;
  color: hsl(14, 45%, 36%);
  width: 100%;
  margin-left: 1rem;
}
.card__nutrition-item:nth-child(1),
.card__nutrition-item:nth-child(2),
.card__nutrition-item:nth-child(3) {
  padding-bottom: 0.75rem;
}
.card__nutrition-item:nth-child(2),
.card__nutrition-item:nth-child(3),
.card__nutrition-item:nth-child(4) {
  padding-top: 0.75rem;
}
.card__nutrition-item:nth-child(4) {
  border: transparent;
}

.attribution {
  font-size: 17px;
  text-align: center;
  padding: 20px;
  margin-top: -57px;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/*# sourceMappingURL=style.css.map */
