// Colors
$white: hsl(0, 0%, 100%);

$stone10: hsl(30, 54%, 90%);
$stone15: hsl(30, 18%, 87%);
$stone60: hsl(30, 10%, 34%);
$stone90: hsl(24, 5%, 18%);

$brown80: hsl(14, 45%, 36%);

$rose80: hsl(332, 51%, 32%);
$rose50: hsl(330, 100%, 98%);
