@use "base/reset";
@use "abstracts/mixins";
@use "abstracts/variable";
@use "base/typography";
@use "base/spacing";

html {
    background-color: variable.$stone10;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;
}

.card {
    @include mixins.layout(grid, spacing.$spacing-500);
    max-width: 736px;
    background-color: variable.$white;
    border-radius: 24px;
    padding: spacing.$spacing-500;
    margin: spacing.$spacing-1600 0 spacing.$spacing-1600 0;

    &__recipe {
        @include mixins.layout(grid, spacing.$spacing-400);
    }

    &__img {
        width: 100%;
        border-radius: 12px;
    }

    &__header {
        @include mixins.layout(grid, spacing.$spacing-300);
    }

    &__title {
        @include mixins.text-preset("young-serif", 100%, spacing.$l-spacing-0, variable.$stone90, normal);
    }
    &__desc {
        @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, null);
    }
    & hr {
        border: 1px solid variable.$stone15;
    }

    &__prep-time {
        @include mixins.layout(grid, spacing.$spacing-200);
        background-color: variable.$rose50;
        padding: spacing.$spacing-300;
        border-radius: 12px;
        letter-spacing: spacing.$l-spacing-0;

        &-title {
            @include mixins.text-preset("outfit-semibold", 100%, 0, variable.$rose80, null);
        }

        &-list {
            @include mixins.layout(grid, spacing.$spacing-100);
            @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, null);
            list-style-position: inside;
            font-size: 16px;
        }
        strong {
            padding-left: spacing.$spacing-200;
        }

        li {
            padding-left: spacing.$spacing-100;

            &::marker {
                color: variable.$rose80;
            }
        }
    }

    &__ingredients {
        @include mixins.layout(grid, spacing.$spacing-300);
        list-style-position: inside;

        &-title {
            @include mixins.text-preset("young-serif", 100%, 0, variable.$brown80, normal);
            font-size: 28px;
        }

        &-list {
            @include mixins.layout(grid, spacing.$spacing-100);
            padding-left: spacing.$spacing-100;
        }
        &-item {
            @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, null);
            font-size: 16px;

            &::marker {
                color: variable.$brown80;
            }
        }
        &-text {
            padding-left: spacing.$spacing-200;
        }
    }
    &__instructions {
        @include mixins.layout(grid, spacing.$spacing-300);

        &-title {
            @include mixins.text-preset("young-serif", 100%, 0, variable.$brown80, normal);
            font-size: 28px;
        }
        &-list {
            @include mixins.layout(grid, spacing.$spacing-100);
            @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, null);
            font-size: 16px;
            padding-left: spacing.$spacing-300;
            padding-right: 10px;
        }

        & li {
            padding-left: spacing.$spacing-200;
        }

        &-item {
            &::marker {
                @include mixins.text-preset("outfit-bold", null, null, variable.$brown80, null);
            }
        }
    }

    &__nutrition {
        @include mixins.layout(grid, spacing.$spacing-300);

        &-title {
            font-size: 28px;
            text-align: left;
            @include mixins.text-preset("young-serif", 100%, 0, variable.$brown80, normal);
        }
        &-sub th {
            font-size: 16px;
            @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, normal);
        }
        &-item {
            @include mixins.text-preset("outfit-regular", 150%, 0, variable.$stone60, normal);
            font-size: 16px;
            display: flex;
            justify-content: space-around;
            text-align: left;
            border-bottom: 1px solid variable.$stone15;
            padding: 0 spacing.$spacing-400 0 spacing.$spacing-400;
        }
        &-item th {
            font-weight: normal;
            width: 100%;
        }
        &-item td {
            @include mixins.text-preset("outfit-bold", 150%, 0, variable.$brown80, null);
            width: 100%;
            margin-left: spacing.$spacing-200;
        }
        &-item:nth-child(1),
        &-item:nth-child(2),
        &-item:nth-child(3) {
            padding-bottom: spacing.$spacing-150;
        }
        &-item:nth-child(2),
        &-item:nth-child(3),
        &-item:nth-child(4) {
            padding-top: spacing.$spacing-150;
        }
        &-item:nth-child(4) {
            border: transparent;
        }
    }
}
.attribution {
    font-size: 17px;
    text-align: center;
    padding: 20px;
    margin-top: -57px;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
